
@{
    ViewBag.Title = "LogIn";
}

<h2 style="color:green;">LogIn Success.</h2>

<div>
    @using (Html.BeginForm("Index", "Home"))
    {

        <input type="submit" value="Log Out" />

    }

</div>

